/**** Basic configs ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background-color: beige;
    color: black;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

/**** Hero Header configs ****/
header{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/hero-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;


}

.slogan{
    align-self: center;
    margin-bottom: 20%;
}

h1{
    color: #fff;
    font-size: 180%;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1;
    font-weight: 300;

}

.btn:link, 
.btn:visited{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e67e22;
    padding: 10px 30px;
    border-radius: 200px;
    transition: 0.3s;

}

.btn-full{
    background-color: #e67e22;
    margin-right: 15px;

}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
    border-color: #cf6d17;

}

/**** Menu Hero Header configs ****/
.logo{
    height: 100px;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px;
    padding-left: 30px;

}

header nav ul{
    display: flex;
    justify-content: space-around;
    width: 650px;
    list-style-type: none;

}

header ul li a:link,
header ul li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    padding-bottom: 4px;

}

header ul li a:hover,
header ul li a:active{
    border-bottom: 2px solid #e67e22;

}

/**** Seção informações ****/
.section-information{
    padding: 80px 0;

}

h2{
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

h2::after{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    display: block;
    margin: 0 auto;
    margin-top: 30px;

}

.info-top p{
    width: 70%;
    margin: 0 auto;
    line-height: 145%;
    
}

.info-bottom{
    display: flex;
    flex-wrap: wrap;
}

.info-bottom>div{
    flex-basis: 250px;
    flex-grow: 1;
    padding: 1%;
    
}

ion-icon{
    font-size: 320%;
    color: #e67e22;
    margin-bottom: 5px;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
    letter-spacing: 1px;
    margin-bottom: 15px;

}

.info-bottom>div>p{
    font-size: 90%;
    line-height: 145%;

}

/**** Seção galeria ****/
.section-gallery>ul{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.section-gallery ul li{
    flex-basis: 300px;
    flex-grow: 1;
}

.section-gallery ul li figure img{
    width: 100%;
    transform: scale(1.15);
}

.section-gallery ul li figure img:hover,
.section-gallery ul li figure img:active{
    transform: scale(1.05);
}

